.popup{
    position: absolute;
    width: 390px;
    height: 270px;
    background-color: rgb(3, 41, 3);
    background-image: url("././images/popup_77.jpg"); 
    display: block;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: absolute;
    padding: 30px;
    width: 350px;
    max-width: 390px;
    top: 10px;
    left: 1px;
}

.popup-inner .button-63{
    position: absolute; 
    top:  2px;
    left: 230px;

}
.style_1{ 
    position: absolute; 
    width: 390px;
    height: 270px;
}
